# Telegram API credentials
# Get these from https://my.telegram.org/apps
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

TELEGRAM_PHONE="+1234567890"  # The phone number of the account you want to use to upload files with country code
PRIVATE_CHANNEL_ID=-100123456789  # The ID of the private channel you want to use to upload files to


# --- Usually you dont need to change these ---
API_HOST=0.0.0.0
API_PORT=8000
DATABASE_URL="sqlite:///data/tgupload.db"

#  ------ THESE BELOW ARE OPTIONAL ------
#  ------ THESE BELOW ARE OPTIONAL ------
#  ------ THESE BELOW ARE OPTIONAL ------
#  ------ THESE BELOW ARE OPTIONAL ------

# Bot Configuration (for example_usage.py)
# Get this from @BotFather
BOT_TOKEN=

# Example bot configuration (for example_usage.py)
# URL of the running API instance
API_URL="http://localhost:8000" 

